
<footer class="main-footer">
    <div class="tiny-footer" style="background:#efefef;  padding-top:20px;" id="tinyFooter">
      <div class="container-fluid" style="text-align: center;">
        <div class="row">
          <div class="col-xs-12">
            <div class="small-footer">
              <ul>
                <li>
                  <a href="" title="Contact us" target="_blank">Contact us</a>
                </li>
                <li>|</li>
                <li>
                  <a href="" title="About Us" target="_blank">About Us</a>
                </li>
                <li>|</li>
                <li>
                  <a href="" title="TOS and Privacy" target="_blank">TOS and Privacy</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="small-footer">
              © 2020 Receptix.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>